

.btnStyle {
    padding-block: 7px;
    padding-inline: 17px;
    background-color: red;
    color: white;
    width: 100%;
    border: none;
    transition: all 0.5s;
}

.btnStyle:hover,
.btnAllStyle:hover {

    color: white;
    background-color: rgb(207, 0, 0);


}

.favarite {
    min-height: 100vh !important;
}

.btnCounter 
{
    border: none;
}
.counter 
{
    background-color: rgb(206, 214, 214);
}


@media screen and (min-width:0px) and (max-width:576px) {


    .btnStyle {
        font-size: 14px !important;
        padding: 0px 15px !important;
    }

    .totalPrice 
    {
        font-size: 16px;
    }
    .checkout 
    {
        font-size: 13px;
    }
    .title 
    {
        font-size: 14px;
    }

}

.textNameContent 
{
    height: 120px;
    overflow: hidden;
}


input:focus 
{
    outline: none;
}

