.favarite:hover {
    cursor: pointer;
}
.box {
    background-color: white;
    color: black;
    text-decoration: none;
}
.box:hover {
    text-decoration: none !important;
}
.textNameContent {
    height: 100px;
    overflow: hidden;
}
.content:hover {
    box-shadow: 0px 0px 5px rgb(222, 221, 221);
}

