.favarite {
    min-height: 100vh !important;
}
.textNameContent 
{
    height: 120px;
    overflow: hidden;
}
@media screen and (min-width:0px) and (max-width:576px) {
    .title 
    {
        font-size: 14px;
    }
}
