.form {
    width: 30%;
    box-shadow: 0px 0px 10px rgb(233, 231, 231);
    padding: 30px;
    background-color: white;
}
@media screen and (min-width:0px) and (max-width:576px){
    .form 
    {
        width: 75%;
    }
}
@media screen and (min-width:577px) and (max-width:991px){
    .form 
    {
        width: 50%;
    }
}
.special
{
    width: 100%;
    border: solid 1px gray;
    padding: 8px;
    margin-block: 3px;
}
.special:focus 
{
    outline: none;
    border : solid 1px gray ;
}